
<h1>Calc Service Demonstrations</h1>
<ul>
    <li><a href="Operations/PassModel">Model</a></li>
    <li><a href="Operations/PassViewData">ViewData</a></li>
    <li><a href="Operations/PassViewBag">ViewBag</a></li>
    <li><a href="Operations/PassInjection">injection</a></li>
</ul>
