
@{
    ViewData["Title"] = "PassInjection";
}
@inject laba1.Services.IValuesGetter valuesService
<h1>Pass using injection</h1>


<h4>Rand value : @valuesService.getFirst()</h4>
<h4>Rand value : @valuesService.getSecond()</h4>

@foreach (var item in valuesService.getOperationsValues())
{
    <h4>@item.Key</h4>
    <div>@item.Value</div>
}

